<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.hd.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.cx.hd.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="comment_objective" jdbcType="INTEGER" property="commentObjective" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="comment_user" jdbcType="INTEGER" property="commentUser" />
    <result column="service_score" jdbcType="INTEGER" property="serviceScore" />
    <result column="spare_one" jdbcType="VARCHAR" property="spareOne" />
    <result column="spare_two" jdbcType="VARCHAR" property="spareTwo" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, comment_objective, comment_content, comment_user, service_score, spare_one, 
    spare_two, comment_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cx.hd.entity.Comment">
    insert into comment (id, type, comment_objective, 
      comment_content, comment_user, service_score, 
      spare_one, spare_two, comment_time
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{commentObjective,jdbcType=INTEGER}, 
      #{commentContent,jdbcType=VARCHAR}, #{commentUser,jdbcType=INTEGER}, #{serviceScore,jdbcType=INTEGER}, 
      #{spareOne,jdbcType=VARCHAR}, #{spareTwo,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cx.hd.entity.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="commentObjective != null">
        comment_objective,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="commentUser != null">
        comment_user,
      </if>
      <if test="serviceScore != null">
        service_score,
      </if>
      <if test="spareOne != null">
        spare_one,
      </if>
      <if test="spareTwo != null">
        spare_two,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="commentObjective != null">
        #{commentObjective,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUser != null">
        #{commentUser,jdbcType=INTEGER},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=INTEGER},
      </if>
      <if test="spareOne != null">
        #{spareOne,jdbcType=VARCHAR},
      </if>
      <if test="spareTwo != null">
        #{spareTwo,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cx.hd.entity.Comment">
    update comment
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="commentObjective != null">
        comment_objective = #{commentObjective,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUser != null">
        comment_user = #{commentUser,jdbcType=INTEGER},
      </if>
      <if test="serviceScore != null">
        service_score = #{serviceScore,jdbcType=INTEGER},
      </if>
      <if test="spareOne != null">
        spare_one = #{spareOne,jdbcType=VARCHAR},
      </if>
      <if test="spareTwo != null">
        spare_two = #{spareTwo,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cx.hd.entity.Comment">
    update comment
    set type = #{type,jdbcType=VARCHAR},
      comment_objective = #{commentObjective,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_user = #{commentUser,jdbcType=INTEGER},
      service_score = #{serviceScore,jdbcType=INTEGER},
      spare_one = #{spareOne,jdbcType=VARCHAR},
      spare_two = #{spareTwo,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>