<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.hd.mapper.ShipCertificateMapper">
  <resultMap id="BaseResultMap" type="com.cx.hd.entity.ShipCertificate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ship_inspection_id" jdbcType="INTEGER" property="shipInspectionId" />
    <result column="frontal_inspection_img" jdbcType="VARCHAR" property="frontalInspectionImg" />
    <result column="back_inspection_img" jdbcType="VARCHAR" property="backInspectionImg" />
    <result column="inspection_failure_time" jdbcType="TIMESTAMP" property="inspectionFailureTime" />
    <result column="optional_one_id" jdbcType="INTEGER" property="optionalOneId" />
    <result column="frontal_optional_one_img" jdbcType="VARCHAR" property="frontalOptionalOneImg" />
    <result column="back_optional_one_img" jdbcType="VARCHAR" property="backOptionalOneImg" />
    <result column="optional_one_failure_time" jdbcType="TIMESTAMP" property="optionalOneFailureTime" />
    <result column="optional_two_id" jdbcType="INTEGER" property="optionalTwoId" />
    <result column="frontal_optional_two_img" jdbcType="VARCHAR" property="frontalOptionalTwoImg" />
    <result column="back_optional_two_img" jdbcType="VARCHAR" property="backOptionalTwoImg" />
    <result column="optional_two_failure_time" jdbcType="TIMESTAMP" property="optionalTwoFailureTime" />
    <result column="optional_three_id" jdbcType="INTEGER" property="optionalThreeId" />
    <result column="frontal_optional_three_img" jdbcType="VARCHAR" property="frontalOptionalThreeImg" />
    <result column="back_optional_three_img" jdbcType="VARCHAR" property="backOptionalThreeImg" />
    <result column="optional_three_failure_time" jdbcType="TIMESTAMP" property="optionalThreeFailureTime" />
    <result column="optional_four_id" jdbcType="INTEGER" property="optionalFourId" />
    <result column="frontal_optional_four_img" jdbcType="VARCHAR" property="frontalOptionalFourImg" />
    <result column="back_optional_four_img" jdbcType="VARCHAR" property="backOptionalFourImg" />
    <result column="optional_four_failure_time" jdbcType="TIMESTAMP" property="optionalFourFailureTime" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_name" jdbcType="INTEGER" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ship_inspection_id, frontal_inspection_img, back_inspection_img, inspection_failure_time, 
    optional_one_id, frontal_optional_one_img, back_optional_one_img, optional_one_failure_time, 
    optional_two_id, frontal_optional_two_img, back_optional_two_img, optional_two_failure_time, 
    optional_three_id, frontal_optional_three_img, back_optional_three_img, optional_three_failure_time, 
    optional_four_id, frontal_optional_four_img, back_optional_four_img, optional_four_failure_time, 
    register_time, update_time, update_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ship_certificate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ship_certificate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cx.hd.entity.ShipCertificate">
    insert into ship_certificate (id, ship_inspection_id, frontal_inspection_img, 
      back_inspection_img, inspection_failure_time, 
      optional_one_id, frontal_optional_one_img, back_optional_one_img, 
      optional_one_failure_time, optional_two_id, 
      frontal_optional_two_img, back_optional_two_img, 
      optional_two_failure_time, optional_three_id, 
      frontal_optional_three_img, back_optional_three_img, 
      optional_three_failure_time, optional_four_id, 
      frontal_optional_four_img, back_optional_four_img, 
      optional_four_failure_time, register_time, 
      update_time, update_name)
    values (#{id,jdbcType=INTEGER}, #{shipInspectionId,jdbcType=INTEGER}, #{frontalInspectionImg,jdbcType=VARCHAR}, 
      #{backInspectionImg,jdbcType=VARCHAR}, #{inspectionFailureTime,jdbcType=TIMESTAMP}, 
      #{optionalOneId,jdbcType=INTEGER}, #{frontalOptionalOneImg,jdbcType=VARCHAR}, #{backOptionalOneImg,jdbcType=VARCHAR}, 
      #{optionalOneFailureTime,jdbcType=TIMESTAMP}, #{optionalTwoId,jdbcType=INTEGER}, 
      #{frontalOptionalTwoImg,jdbcType=VARCHAR}, #{backOptionalTwoImg,jdbcType=VARCHAR}, 
      #{optionalTwoFailureTime,jdbcType=TIMESTAMP}, #{optionalThreeId,jdbcType=INTEGER}, 
      #{frontalOptionalThreeImg,jdbcType=VARCHAR}, #{backOptionalThreeImg,jdbcType=VARCHAR}, 
      #{optionalThreeFailureTime,jdbcType=TIMESTAMP}, #{optionalFourId,jdbcType=INTEGER}, 
      #{frontalOptionalFourImg,jdbcType=VARCHAR}, #{backOptionalFourImg,jdbcType=VARCHAR}, 
      #{optionalFourFailureTime,jdbcType=TIMESTAMP}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateName,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cx.hd.entity.ShipCertificate">
    insert into ship_certificate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shipInspectionId != null">
        ship_inspection_id,
      </if>
      <if test="frontalInspectionImg != null">
        frontal_inspection_img,
      </if>
      <if test="backInspectionImg != null">
        back_inspection_img,
      </if>
      <if test="inspectionFailureTime != null">
        inspection_failure_time,
      </if>
      <if test="optionalOneId != null">
        optional_one_id,
      </if>
      <if test="frontalOptionalOneImg != null">
        frontal_optional_one_img,
      </if>
      <if test="backOptionalOneImg != null">
        back_optional_one_img,
      </if>
      <if test="optionalOneFailureTime != null">
        optional_one_failure_time,
      </if>
      <if test="optionalTwoId != null">
        optional_two_id,
      </if>
      <if test="frontalOptionalTwoImg != null">
        frontal_optional_two_img,
      </if>
      <if test="backOptionalTwoImg != null">
        back_optional_two_img,
      </if>
      <if test="optionalTwoFailureTime != null">
        optional_two_failure_time,
      </if>
      <if test="optionalThreeId != null">
        optional_three_id,
      </if>
      <if test="frontalOptionalThreeImg != null">
        frontal_optional_three_img,
      </if>
      <if test="backOptionalThreeImg != null">
        back_optional_three_img,
      </if>
      <if test="optionalThreeFailureTime != null">
        optional_three_failure_time,
      </if>
      <if test="optionalFourId != null">
        optional_four_id,
      </if>
      <if test="frontalOptionalFourImg != null">
        frontal_optional_four_img,
      </if>
      <if test="backOptionalFourImg != null">
        back_optional_four_img,
      </if>
      <if test="optionalFourFailureTime != null">
        optional_four_failure_time,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shipInspectionId != null">
        #{shipInspectionId,jdbcType=INTEGER},
      </if>
      <if test="frontalInspectionImg != null">
        #{frontalInspectionImg,jdbcType=VARCHAR},
      </if>
      <if test="backInspectionImg != null">
        #{backInspectionImg,jdbcType=VARCHAR},
      </if>
      <if test="inspectionFailureTime != null">
        #{inspectionFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalOneId != null">
        #{optionalOneId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalOneImg != null">
        #{frontalOptionalOneImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalOneImg != null">
        #{backOptionalOneImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalOneFailureTime != null">
        #{optionalOneFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalTwoId != null">
        #{optionalTwoId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalTwoImg != null">
        #{frontalOptionalTwoImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalTwoImg != null">
        #{backOptionalTwoImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalTwoFailureTime != null">
        #{optionalTwoFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalThreeId != null">
        #{optionalThreeId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalThreeImg != null">
        #{frontalOptionalThreeImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalThreeImg != null">
        #{backOptionalThreeImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalThreeFailureTime != null">
        #{optionalThreeFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalFourId != null">
        #{optionalFourId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalFourImg != null">
        #{frontalOptionalFourImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalFourImg != null">
        #{backOptionalFourImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalFourFailureTime != null">
        #{optionalFourFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cx.hd.entity.ShipCertificate">
    update ship_certificate
    <set>
      <if test="shipInspectionId != null">
        ship_inspection_id = #{shipInspectionId,jdbcType=INTEGER},
      </if>
      <if test="frontalInspectionImg != null">
        frontal_inspection_img = #{frontalInspectionImg,jdbcType=VARCHAR},
      </if>
      <if test="backInspectionImg != null">
        back_inspection_img = #{backInspectionImg,jdbcType=VARCHAR},
      </if>
      <if test="inspectionFailureTime != null">
        inspection_failure_time = #{inspectionFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalOneId != null">
        optional_one_id = #{optionalOneId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalOneImg != null">
        frontal_optional_one_img = #{frontalOptionalOneImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalOneImg != null">
        back_optional_one_img = #{backOptionalOneImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalOneFailureTime != null">
        optional_one_failure_time = #{optionalOneFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalTwoId != null">
        optional_two_id = #{optionalTwoId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalTwoImg != null">
        frontal_optional_two_img = #{frontalOptionalTwoImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalTwoImg != null">
        back_optional_two_img = #{backOptionalTwoImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalTwoFailureTime != null">
        optional_two_failure_time = #{optionalTwoFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalThreeId != null">
        optional_three_id = #{optionalThreeId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalThreeImg != null">
        frontal_optional_three_img = #{frontalOptionalThreeImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalThreeImg != null">
        back_optional_three_img = #{backOptionalThreeImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalThreeFailureTime != null">
        optional_three_failure_time = #{optionalThreeFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionalFourId != null">
        optional_four_id = #{optionalFourId,jdbcType=INTEGER},
      </if>
      <if test="frontalOptionalFourImg != null">
        frontal_optional_four_img = #{frontalOptionalFourImg,jdbcType=VARCHAR},
      </if>
      <if test="backOptionalFourImg != null">
        back_optional_four_img = #{backOptionalFourImg,jdbcType=VARCHAR},
      </if>
      <if test="optionalFourFailureTime != null">
        optional_four_failure_time = #{optionalFourFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cx.hd.entity.ShipCertificate">
    update ship_certificate
    set ship_inspection_id = #{shipInspectionId,jdbcType=INTEGER},
      frontal_inspection_img = #{frontalInspectionImg,jdbcType=VARCHAR},
      back_inspection_img = #{backInspectionImg,jdbcType=VARCHAR},
      inspection_failure_time = #{inspectionFailureTime,jdbcType=TIMESTAMP},
      optional_one_id = #{optionalOneId,jdbcType=INTEGER},
      frontal_optional_one_img = #{frontalOptionalOneImg,jdbcType=VARCHAR},
      back_optional_one_img = #{backOptionalOneImg,jdbcType=VARCHAR},
      optional_one_failure_time = #{optionalOneFailureTime,jdbcType=TIMESTAMP},
      optional_two_id = #{optionalTwoId,jdbcType=INTEGER},
      frontal_optional_two_img = #{frontalOptionalTwoImg,jdbcType=VARCHAR},
      back_optional_two_img = #{backOptionalTwoImg,jdbcType=VARCHAR},
      optional_two_failure_time = #{optionalTwoFailureTime,jdbcType=TIMESTAMP},
      optional_three_id = #{optionalThreeId,jdbcType=INTEGER},
      frontal_optional_three_img = #{frontalOptionalThreeImg,jdbcType=VARCHAR},
      back_optional_three_img = #{backOptionalThreeImg,jdbcType=VARCHAR},
      optional_three_failure_time = #{optionalThreeFailureTime,jdbcType=TIMESTAMP},
      optional_four_id = #{optionalFourId,jdbcType=INTEGER},
      frontal_optional_four_img = #{frontalOptionalFourImg,jdbcType=VARCHAR},
      back_optional_four_img = #{backOptionalFourImg,jdbcType=VARCHAR},
      optional_four_failure_time = #{optionalFourFailureTime,jdbcType=TIMESTAMP},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_name = #{updateName,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>