* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑；
}

em {
    display: block;
    font-style: normal;
    font-size: 14px;
    color: rgb(179, 177, 177)
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    text-decoration: none;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    background-image: url("../img/bj-login.jpg");
    background-size: 100% 100%;
    position: relative;
}

article {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #8fb4d1; */
}

article {
    width: 400px;
    margin: 150px auto 0px auto;
}

article h1 {
    width: 400px;
    color: #5593ce;
    text-align: center;
    margin-bottom: 15px;
    font-weight: normal;
}

article h1 em {
    display: inline-block;
    color: #5593ce;
    font-size: 25px;
}

.main {
    padding: 20px 0px;
    width: 100%;
    /* background-color: #49bcf4; */
}

form {
    width: 297px;
    margin: 0 auto;
}

.main form input {
    margin: 10px 0;
    width: 280px;
    height: 35px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    padding-left: 10px;
}

form button {
    width: 290px;
    height: 35px;
    background-color: #027eba;
    color: #fff;
    border: none;
    margin-top: 15px;
    letter-spacing: 10px;
    font-size: 16px;
    text-align: center;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 14px;
    color: #5593ce;
}

footer ul {
    width: 570px;
    height: 35px;
}

footer p {
    width: 100%;
    text-align: center;
}

footer ul li {
    display: inline-block;
    width: 90px;
    height: 13px;
    line-height: 13px;
    border-right: 1px solid #5593ce;
    text-align: center;
}

footer ul li a {
    font-size: 14px;
    color: #5593ce;
}

footer ul,
footer p {
    margin: 0 auto;
    color: black;
}


/* 新增的 */

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
}

.wrapper .main .rem input {
    width: 14px;
    height: 14px;
}

.rem {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 16px;
}

.rem span {
    height: 18px;
    line-height: 18px;
    padding-left: 8px;
    font-size: 16px;
}

.rem a {
    height: 16px;
    line-height: 16px;
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
}

.cooperation {
    margin: 15px 0px;
    text-align: center;
}

.cooperation h3 {
    padding-right: 10px;
    box-sizing: border-box;
}

.mode {
    text-align: center;
    padding-right: 16px;
    box-sizing: border-box;
}

.weibo {
    padding: 0 15px;
}

.logo {
    /* border: 1px solid red; */
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
}

.logo img {
    width: 100%;
    height: 100%;
    z-index: 999;
}