<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuxin.mapper.SeaServiceMapper" >
  <resultMap id="BaseResultMap" type="com.chuxin.pojo.SeaService" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ship_id" property="shipId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="booking_time_id" property="bookingTimeId" jdbcType="INTEGER" />
    <result column="embark_site" property="embarkSite" jdbcType="VARCHAR" />
    <result column="disembark_site" property="disembarkSite" jdbcType="VARCHAR" />
    <result column="most_people" property="mostPeople" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="details_id" property="detailsId" jdbcType="INTEGER" />
    <result column="spare_one" property="spareOne" jdbcType="VARCHAR" />
    <result column="spare_two" property="spareTwo" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_name" property="updateName" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ship_id, start_time, end_time, booking_time_id, embark_site, disembark_site, 
    most_people, remarks, price, details_id, spare_one, spare_two, register_time, update_time, 
    update_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chuxin.pojo.SeaServiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sea_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sea_service
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sea_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chuxin.pojo.SeaServiceExample" >
    delete from sea_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chuxin.pojo.SeaService" >
    insert into sea_service (id, ship_id, start_time, 
      end_time, booking_time_id, embark_site, 
      disembark_site, most_people, remarks, 
      price, details_id, spare_one, 
      spare_two, register_time, update_time, 
      update_name)
    values (#{id,jdbcType=INTEGER}, #{shipId,jdbcType=INTEGER}, #{startTime,jdbcType=DATE}, 
      #{endTime,jdbcType=DATE}, #{bookingTimeId,jdbcType=INTEGER}, #{embarkSite,jdbcType=VARCHAR}, 
      #{disembarkSite,jdbcType=VARCHAR}, #{mostPeople,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{detailsId,jdbcType=INTEGER}, #{spareOne,jdbcType=VARCHAR}, 
      #{spareTwo,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateName,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chuxin.pojo.SeaService" >
    insert into sea_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shipId != null" >
        ship_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="bookingTimeId != null" >
        booking_time_id,
      </if>
      <if test="embarkSite != null" >
        embark_site,
      </if>
      <if test="disembarkSite != null" >
        disembark_site,
      </if>
      <if test="mostPeople != null" >
        most_people,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="detailsId != null" >
        details_id,
      </if>
      <if test="spareOne != null" >
        spare_one,
      </if>
      <if test="spareTwo != null" >
        spare_two,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shipId != null" >
        #{shipId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="bookingTimeId != null" >
        #{bookingTimeId,jdbcType=INTEGER},
      </if>
      <if test="embarkSite != null" >
        #{embarkSite,jdbcType=VARCHAR},
      </if>
      <if test="disembarkSite != null" >
        #{disembarkSite,jdbcType=VARCHAR},
      </if>
      <if test="mostPeople != null" >
        #{mostPeople,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="detailsId != null" >
        #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="spareOne != null" >
        #{spareOne,jdbcType=VARCHAR},
      </if>
      <if test="spareTwo != null" >
        #{spareTwo,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chuxin.pojo.SeaServiceExample" resultType="java.lang.Integer" >
    select count(*) from sea_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sea_service
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shipId != null" >
        ship_id = #{record.shipId,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.bookingTimeId != null" >
        booking_time_id = #{record.bookingTimeId,jdbcType=INTEGER},
      </if>
      <if test="record.embarkSite != null" >
        embark_site = #{record.embarkSite,jdbcType=VARCHAR},
      </if>
      <if test="record.disembarkSite != null" >
        disembark_site = #{record.disembarkSite,jdbcType=VARCHAR},
      </if>
      <if test="record.mostPeople != null" >
        most_people = #{record.mostPeople,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.detailsId != null" >
        details_id = #{record.detailsId,jdbcType=INTEGER},
      </if>
      <if test="record.spareOne != null" >
        spare_one = #{record.spareOne,jdbcType=VARCHAR},
      </if>
      <if test="record.spareTwo != null" >
        spare_two = #{record.spareTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateName != null" >
        update_name = #{record.updateName,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sea_service
    set id = #{record.id,jdbcType=INTEGER},
      ship_id = #{record.shipId,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=DATE},
      end_time = #{record.endTime,jdbcType=DATE},
      booking_time_id = #{record.bookingTimeId,jdbcType=INTEGER},
      embark_site = #{record.embarkSite,jdbcType=VARCHAR},
      disembark_site = #{record.disembarkSite,jdbcType=VARCHAR},
      most_people = #{record.mostPeople,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      details_id = #{record.detailsId,jdbcType=INTEGER},
      spare_one = #{record.spareOne,jdbcType=VARCHAR},
      spare_two = #{record.spareTwo,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_name = #{record.updateName,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuxin.pojo.SeaService" >
    update sea_service
    <set >
      <if test="shipId != null" >
        ship_id = #{shipId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="bookingTimeId != null" >
        booking_time_id = #{bookingTimeId,jdbcType=INTEGER},
      </if>
      <if test="embarkSite != null" >
        embark_site = #{embarkSite,jdbcType=VARCHAR},
      </if>
      <if test="disembarkSite != null" >
        disembark_site = #{disembarkSite,jdbcType=VARCHAR},
      </if>
      <if test="mostPeople != null" >
        most_people = #{mostPeople,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="detailsId != null" >
        details_id = #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="spareOne != null" >
        spare_one = #{spareOne,jdbcType=VARCHAR},
      </if>
      <if test="spareTwo != null" >
        spare_two = #{spareTwo,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuxin.pojo.SeaService" >
    update sea_service
    set ship_id = #{shipId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      booking_time_id = #{bookingTimeId,jdbcType=INTEGER},
      embark_site = #{embarkSite,jdbcType=VARCHAR},
      disembark_site = #{disembarkSite,jdbcType=VARCHAR},
      most_people = #{mostPeople,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      details_id = #{detailsId,jdbcType=INTEGER},
      spare_one = #{spareOne,jdbcType=VARCHAR},
      spare_two = #{spareTwo,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_name = #{updateName,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select * from sea_service where ship_id =#{shipId}
</select>
</mapper>