<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/regist.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages-register.css" />
    <script type="text/javascript" src="../static/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/sui/sui.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/static/js/pages/register.js"></script>
</head>
<script>
    $(function() {
        //为按钮绑定事件
        $("#reg").click(function() {
            var phone = $("#phone").val();
            var password = $("#password").val();
            var password2 = $("#password2").val();
            var TEL_REGEXP = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
            var Zpassword = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,12}$/;
            if (phone.length !== 11) {
                alert("请输入有效手机号")
                return;
            }
            if (!TEL_REGEXP.test(phone)) {
                alert("请输入大陆手机号")
                return;
            }
            if (!password.length >= 8) {
                alert("请输入八位密码");
                return;
            }
            if (password !== password2) {
                alert("两次密码输入不一致")
                return;
            }
            if (!Zpassword.test(password)) {
                alert("密码不能纯英文或数字")
                return;
            }
            $.ajax({
                url: "http://localhost:9092/user/add",
                type: "post",
                data: {
                    "phone": phone,
                    "password": password
                },
                dataType: "json",
                success: function(Result) {
                    if (Result.success == false) {
                        $("#message").text('你输入的用户已存在');
                        $("#message").css("color","red");
                    }
                    if (Result.success == true) {
                        window.location.href = "http://localhost:9092/user/login";
                    }
                }
            });
        })
    })
</script>

<body>
    <div class="wrapper">
        <article>
            <h1><span>注册页面</span></h1>
            <div class="main">
                <form>
                    <div class="tel">
                        <input id="phone" type="tel" name="userName" placeholder="手机号"><em id="message">由11个数字组成</em>
                    </div>
                    <div class="password">
                        <input type="password" id="password" name="pwd" placeholder="密码"><em>使用字母、数字、符号两种及以上的组合，8-12个字符</em>
                    </div>
                    <div class="againpwd">
                        <input type="password" id="password2" name="pwd" placeholder="再次输入密码"><em>两次密码不一致</em>
                    </div>
                    <button type="button" id="reg" target="_blank">注册</button>
                </form>
            </div>
        </article>
        <footer>
            <p>地址：浙江省宁波市鄞州区xxx 邮编：xxxxxx 电话：xxxxxxxxxxxxxx 传真：xxxxxxxxxxxxxxx</p>
        </footer>
    </div>
</body>

</html>