<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>个人注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages-register.css" />
	<script type="text/javascript" src="../static/plugins/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="../static/js/base.js"></script>
	<script type="text/javascript" src="../static/js/service/userService.js"></script>
	<script type="text/javascript" src="../static/js/controller/userController.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/sui/sui.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/static/js/pages/register.js"></script>
</head>
<script>
	$(function () {
		//为按钮绑定事件
		$("#reg").click(function () {
			var phone = $("#phone").val();
			var password = $("#password").val();
			var password2 = $("#password2").val();
			var TEL_REGEXP = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
			var Zpassword=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
			if(phone.length !== 11){
				alert("请输入有效手机号")
				return;
			}
			if (!TEL_REGEXP.test(phone)){
                alert("请输入大陆手机号")
				return;
			}
			if(!password.length >= 8 ){
				alert("请输入八位密码");
				return;
			}if (password !== password2){
				alert("两次密码输入不一致")
				return;
			}
			  if (!Zpassword.test(password)) {
			  	alert("密码不能纯英文或数字")
				  return;
			  }
			$.ajax({
				url: "http://localhost:9090/user/add",
				type: "post",
				data: {"phone": phone, "password": password},
				dataType: "json",
				success: function (Result) {
					if (Result.success==false){
						if($("#message").is(":hidden")){
							$("#message").show();//如果元素为隐藏,则将其显现
						}
					}
						if (Result.success==true){
							window.location.href="http://localhost:9090/user/login";
						}
					}
			});
		})
	})
</script>

<body ng-app="chuxin" ng-controller="usersController">
	<div class="register py-container ">
		<!--head-->
		<div class="logoArea">
			<a href="" class=""></a>
			<img src="">
		</div>
		<!--register-->
		<div class="registerArea">
			<h3>注册新用户</h3>
			<div class="info">
				<form class="sui-form form-horizontal">
					<div class="control-group">
						<!--	<label class="control-label">用户名：</label>
                    	<div class="controls">
                                <input type="text" ng-model="entity.name" placeholder="请输入你的用户名" class="input-xfat input-xlarge">
                            </div>
                        </div>-->
						<div class="control-group">
							<label class="control-label">手机号：</label>
							<div class="controls">
								<input type="text"  id="phone" placeholder="请输入你的手机号" class="input-xfat input-xlarge">
								<div id="message" hidden><font color="red">用户名已经被注册</font></div>
							</div>
						</div>

					<div class="control-group">
						<label for="inputPassword" class="control-label">登录密码：</label>
						<div class="controls">
							<input type="password" id="password" placeholder="设置登录密码" class="input-xfat input-xlarge">
						</div>
					</div>
					<div class="control-group">
						<label for="inputPassword" class="control-label">确认密码：</label>
						<div class="controls">
							<input type="password" id="password2" placeholder="再次确认密码" class="input-xfat input-xlarge">
						</div>
					</div>
					<!--<div class="control-group">
						<label for="inputPassword"  class="control-label">短信验证码：</label>
						<div class="controls">
							<input type="text"  placeholder="短信验证码" class="input-xfat input-xlarge">
							<a href="#">获取短信验证码</a>
						</div>
					</div>-->
				<!--	<div class="control-group">
						<label for="inputPassword" class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<div class="controls">
							<input name="m1" type="checkbox" value="2" checked=""><span>同意协议并注册《海钓之家用户协议》</span>
						</div>
					</div>-->
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls btn-reg">
							<input type="button" id="reg"  class="sui-btn btn-block btn-xlarge btn-danger"   target="_blank">注册</div>
						</div>
					</div>
					</div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--foot-->
		<div class="py-container copyright">
			<div class="address">地址：浙江省宁波市鄞州区xxx 邮编：xxxxxx 电话：xxxxxxxxxxxxxx 传真：xxxxxxxxxxxxxxx</div>
			<div class="beian">xxxxxxxxxxxxxxxxx
			</div>
		</div>
	</div>



</body>

</html>